{% extends "base/base.html" %}
{% block title %}Login Failed{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-width-container">
    <h1 class="govuk-heading-l">Login failed</h1>
    <p class="govuk-body">We were unable to log you in, <a href="{% url "login" %}" class="govuk-link">please retry</a>.</p>
    <p class="govuk-body">If the problem persists email Analytical Platform at <a href="mailto:analytical-platform@justice.gov.uk" class="govuk-link">analytical-platform@justice.gov.uk</a></p>
  </div>
</div>
{% endblock %}
